{{extend 'layout.html'}}

<h2>Olen kiinnostunut OLKA:sta</h2>

{{=form}}

Emme jaa yhteystietojanne kolmansien osapuolien kanssa. Käytämme niitä vain mahdollisiin yhteydenottoihin.
<p><p>
<h3>Alueet:</h3>

<b>Kirkonseutu</b>: Oulunsalon kirkon alue rajoittuen Lentokentäntiehen, Oulunsalontiehen ja Kylänpuolentiehen. Sisältää siis mm. Viiskulmasen ja Santaniemen.<br>
<b>Kylänpuoli</b>: Oulunsalon kylänpuolen alue rajoittuen Lentokentäntiehen ja Kylänpuolentiehen.<br>
<b>Matikkaranta</b>: Oulunsalon Matikkaranta ja Karhuojantien tienoo.<br>
<b>Rakennettu alue</b>: Jo rakennettu alue, eli Koura, Öörni, Lassila, Pellonpää, Kouranpelto ja Pitkäkangas.<br>
<b>Muu Oulunsalo</b>: Muut Oulunsalon alueet.<br>
<b>Lapinkangas</b>: Oulun Lapinkankaan alue.<br>
<b>Lehtoselkä</b>: Muhoksen Lehtoselän alue.<br>
<b>Muu</b>: Kaikki muut alueet.<br>

<!---{{=BEAUTIFY(request.vars)}}
<h2>Hyväksytyt arvot:</h2>
{{=BEAUTIFY(form.vars)}}
<h2>Virheet:</h2>
{{=BEAUTIFY(form.errors)}} --->
